/* Base Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white; 
    
    transition: background-color 0.3s ease; 
}

.container {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.row {
    display: flex;
}

.button {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    cursor: pointer;
}

#grey{
    background-color: #808080;
}

#white{
    background-color: #ffffff;
}

#blue{
    background-color: #0000ff;
}

#yellow{
    background-color: #ffff00;
}
#purple{
    background-color: purple;
}

.instructions {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
}